<h1>A Greeting for You!</h1>
<p><%= @message %></p>
<a href="http://www.gucas.ac.cn">UCAS</a>
<p><%= @time %></p>
<a href="/select/second">here to see second page</a>
<h1>view the database at here</h1>
<a href="/highscores">here</a>

